extends layout

block content
    section(class='maincontent', id='about_flex_container')
        div(class='about_text')
            h1= title
            br
            p
                | Hi, I'm Emily! I am a undergraduate at Boston University studying Computer Science, graduating Spring 2024.
                | I'm currently learning about web development and embedded development.
                | I am currently looking for a new-grad position, I would love to use my interest
                | in software development to build solutions that can create a positive impact.
            br
            p
                | Outside of work, you can find me playing the guitar, longboarding, and trying new restaurants with friends.
                | Please feel free to reach out.
            br
            p
                | Find me here:
                ul
                    li
                        p
                            |github:
                            |
                            a(href="https://github.com/emilydoh") emilydoh
                    li
                        p
                            |resume:
                            |
                            a(href="./Emily Doherty Resume.pdf") link
                    li
                        p
                            |✉️email:
                            |
                            a(href="mailto:emilydoh@bu.edu") emilydoh@bu.edu
        div
            img(src='../images/webphoto.jpeg' class="about_photo")