extends layout

block content
  section(id = 'banner')
    div(class = 'inner')
      | Emily Doherty is an undergraduate at Boston University graduating spring 2023 based in Boston and New York
  section(id= 'section1')
    h1 Welcome
    p Hi, I'm Emily. This is my site where you can find information about me, projects, link to my Github, and ways to get in contact with me. Enjoy your stay :)
