doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      h1(id='headername', class='name') emilydoherty
      nav
        ul(class='navigationbar')
          li
            a(href="/") Home
          li
            a(href="/about") About
          li
            a(href="/projects") Projects
          li
            a(href="/contact") Contact
    block content
